<div class = "row">
<div class = "col-md-8" >

<div class = "page-header" >
<h2> Edit Locality </h2>
</div>
<%= form_for @locality do |f| %>
	<% if @locality.errors.any? %>
			<h4>These errors proibited the form being saved:</h4>
			<ul style="color:red;">
				<% @locality.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>
	<label>City</label><br/>
	<%= f.collection_select :city_id, City.all, :id, :name, prompt: "Select City" %><br/>
	
	<label>Locality Name</label><br/>
	<%= f.text_field :name %><br/>
	
	<%= f.submit %>
<% end %>

<%= link_to "Home", cities_path, class:"btn btn-info" %>

</div>
<div class = "col-md-4" >
<div class = "page-header" >
<h2>Gotcha Folks In A Few Moments </h2>
</div>
</div>