<div class = "row">
	<div class = "col-md-8" >

		<div class = "page-header">
			<h2>Listing Cities </h2>
		</div>
		<% if @cities.empty? %>
			<p>NO Cities found </p>
		<% else %>
			<table class = "table table-striped" id="myTable">
				<thread>
					<tr>
						<th>Sl.no</th>
						<th>Name</th>
						<th>Actions</th>
						<th>Count</th>
					</tr>
				</thread>
				<tbody>
					<% @cities.each_with_index do |city,index| %>
						<tr>
							<td><%= index + 1 %></td>
							<td><%= link_to city.name, city_path(city.id) %></td>
							<td><%= link_to "Show", city_path(city.id) %></td>
							<td><%= (city.localities).count %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %> 
<% if can? :create, City.new %>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Add City
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Welcome Admin</h4>
      </div>
      <div class="modal-body">
       <%= form_for @city do |f| %>
       <div class="form-group">
       <label>Name</label><br>
       <%= f.text_field :name, class: "form-control" %><br/>
       </div>
       <%= f.submit %>
       <% end %>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<% end %>


</div>

<div class = "col-md-4">
<div class = "page-header" >
<h2>Localities in City </h2>
</div>
<% data = {}
		@cities.each do |city|
			data[city.name] = city.localities.count
		end 
		%>
		<%= pie_chart(data) %>
		<div class = "page-header" >
		<h2>Properities in Localities</h2>
		</div>
<%dataa = {}
		@cities.each do |city|
			city.localities.each do |locality|
			dataa[locality.name] = locality.properities.count 
		end 
	end 
		%>
		<%= pie_chart(dataa) %>
</div>
</div>

<div class = "col-md-6" >

<h2>For Localities </h2>

<h3>Goto <%= link_to "Localities", localities_path,class:"btn btn-info" %></h3>
</div>
</div>
<div class ="col-md-6">
<div class = "page-header">


<h2>For properities </h2>
<% if can? :create, Properity.new %>
<h3><%= link_to "Add Properity", new_properity_path, class:"btn btn-info" %> </h3>
<% end %>
<h3>Goto <%= link_to "Properities", properities_path, class:"btn btn-info" %></h3>

</div>
</div>



