<div class = "row" >
<div class = "col-md-8" >

<div class = "page-header" >
<h2><%= @city.name %></h2>
</div>
<%= link_to "edit", edit_city_path(@city.id) %>
<%= link_to "destroy", city_path(@city.id), data: {method: :delete, confirm: "Are you Sure?" } %>

<div class="panel panel-primary">
				<div class="panel-heading">Localities</div>
					<div class="panel-body">
						<ul class="list-group">
							<% for locality in @city.localities %>
								<li class="list-group-item"><%= link_to locality.name, locality_path(locality.id) %></li>
							<% end %>
						</ul>
				</div>
			</div>
<%= link_to "Home", cities_path, class:"btn btn-info" %>

</div>

<div class = "col-md-4" >
<div class ="page-header" >
<h2>Properities in the Localities</h2>
<% data ={}
@city.localities.each do |locality|
	data[locality.name] = locality.properities.count 
end 
%>
<%= pie_chart(data) %>
</div>
</div>