<h1>Listing propreviews</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Properity</th>
      <th>Rating</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @propreviews.each do |propreview| %>
      <tr>
        <td><%= propreview.user_id %></td>
        <td><%= propreview.properity_id %></td>
        <td><%= propreview.rating %></td>
        <td><%= propreview.rev_desc %></td>
        <td><%= link_to 'Show', propreview %></td>
        <td><%= link_to 'Edit', edit_propreview_path(propreview) %></td>
        <td><%= link_to 'Destroy', propreview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Propreview', new_propreview_path %>
